:root {
    --green: rgb(143, 187, 130 );
    --sand: rgb(211, 204, 162);
}

body {
    background-color: var(--green);
}

div.center {
    margin: auto;
    width: 15%;
}

a:hover {
    color: blue;
}

p.center {
    text-align: center;
}

#half-size {
    max-width: 50%;
}

h1 {
    text-align: center;
}

.home {
    font-size: 2em;
}

div {
    background-color: var(--sand);
    padding: 20px;
    border: solid white 1px;
    border-radius: 10px;
}
