@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Source Code Pro', monospace; */

:root {
    /* --sand: rgb(211, 204, s162);
    --sea: rgb(48, 134, 149); */
    --sand: rgb(154, 145, 98); 
    --forest: rgb(47, 73, 47);
}

body {
    background-color: var(--forest);
}

.title {
    background-color: var(--forest);
    width: 70%;
    border: solid white 3px;
    border-radius: 10px;
    margin: 10px auto;
    color: var(--sand);
    text-align: center;
}

div.center {
    margin: 10px auto;
    width: 70%;
    border: solid white 1px;
    border-radius: 10px;
    padding: 15px;
    color: white;
    /* color: black; */
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.skills {
    margin: 10px auto;
    width: 50%;
    border: solid white 1px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.accordion {
    margin: 10px auto;
    width: 70%;
}

p.center {
    text-align: center;
}

.not-nav:link, .not-nav:visited {
    color: var(--sand);
}

.blue:link, .blue:visited {
    color: var(--forest);
}

.not-nav:hover, .not-nav:active, .blue:hover, .blue:active {
    color: coral;
}

.navbar-custom {
    border: solid white 3px;
    border-radius: 10px;
    background-color: var(--sand);
    width: 70%;
    margin: auto;
}

.navbar-toggler {
    background-color: white;
}

#half-size {
    max-width: 50%;
}

h1 {
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Source Code Pro', monospace;
}

.home {
    font-size: 2em;
}

/* .blue, .accordion-button  */
.blue, .accordion-button, .accordion-body{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.socials {
    background-color: var(--forest);
    position: fixed;
    bottom: 40%;
    right: 1%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 50px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    border: solid white 1px;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.accordion-body > ul > li {
    color: black;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    text-align: center;
}

#skills > img {
    margin: 10px 15px;
}

.screenshots {
    width: 50%;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    position: relative;
}

.screenshots:hover {
    filter: blur(3px);
}

.link > a {
    color: white;
    text-decoration: none;
}

.link {
    display: none;
    background-color: var(--sand);
}

.screenshots:hover + .link, .link:hover {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
